* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	font-size: 12px;
	list-style-type: none;
	color: #444444;
}
.container {
	display: flex;
	flex-direction: row;
	width: 100vw;
	height: 100vh;
}

.user {
	display: flex;
	flex-direction: column;
	width: 320px;
	height: 100vh;
	border-right: 1px solid #D7D8DC;
	background-color: #F0F3F8;
}

.user-header {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid #D7D8DC;
}

.user-main {
	display: flex;
	height: 50px;
	padding: 5px;
}

.user-state {
	position: absolute;
	background-color: #4AD96D;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	margin-top: 28px;
	margin-left: 28px;
	border: 2px solid #ffffff;
}

img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.user-main :hover,
.user-search :hover,
.user-action ul :hover,
.user-list-action ul :hover,
.user-list-recent,
.chat-header-info :hover,
.chat-header-action ul :hover {
	cursor: pointer;
}

.user-main span {
	display: flex;
	align-items: center;
	margin-left: 15px;
}

.user-more {
	display: flex;
	align-items: center;
	margin-left: auto;
	margin-right: 10px;
}

.user-more :hover,
.user-dialpad :hover,
.user-action ul :hover,
.user-list-recent :hover,
.chat-header-info :hover {
	color: #869099;
}

.user-list-wrapper :hover {
	background-color: #DDF1FA;
	cursor: pointer;
}
[data-tooltip] {
	position: relative;
}

[data-tooltip]:hover::after {
	content: attr(data-tooltip);
	position: absolute;
	top: 4em;
	z-index: 1;
	background: #ffffff;
	font-family: Arial, sans-serif;
	text-align: center;
	font-size: 11px;
	padding: 5px 10px;
	border: 1px solid #333;
	color: #444444;
	width: max-content;
}

.user-search {
	display: flex;
	flex-direction: row;
	height: 50px;
}

.user-search-wrapper {
	display: flex;
	align-items: center;
	margin-left: 10px;
}

.user-search-field {
	width: 280px;
	height: 30px;
	border-radius: 5px 0 0 5px;
	border: 2px solid #869099;
	border-right: 1px solid #869099;
}

.user-search-icon .material-icons {
	position: absolute;
	margin-left: 5px;
	margin-top: -10px;
	z-index: 1;
	color: #869099;
}

.user-dialpad {
	display: flex;
	background-color: #ffffff;
	width: 22px;
	height: 30px;
	border: 2px solid#869099;
	border-left: 1px solid #869099;
	border-radius: 0 10% 10% 0;
}

.user-dialpad .material-icons {
	margin-left: -3px;
}

.user-action {
	height: 50px;
	display: flex;
	flex-direction: row;
}

.user-action ul {
	display: flex;
}
.user-action ul li {
	display: flex;
	flex-direction: column;
	margin: 0 20px 0 20px;
}

.user-action-icon {
	display: flex;
	justify-content: center;
}

.user-list-action {
	display: flex;
}

.user-list-action ul {
	display: flex;
	width: 100%;
}

.user-list-action ul li {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 40px;
	margin: 10px;
	align-items: center;
	background-color: #ffffff;
	border-radius: 40px;
	justify-content: center;
}

.user-list-action ul li span {
	margin-left: 5px;
}

.user-list-recent {
	margin: 10px;
	font-size: 18px;
	font-weight: bold;
}

.user-list-card {
	display: flex;
	flex-direction: row;
	height: 60px;
	padding: 5px;
}

.user-list-info {
	display: flex;
	flex-wrap: wrap;
	height: 30px;
}

.user-list-name {
	display: flex;
	margin-left: 10px;
	width: 180px;
	font-size: 15px;
}

.user-list-msg {
	display: flex;
	margin-left: 10px;
	font-size: 15px;
}

.user-list-time {
	font-size: 15px;
}
.user-list-msg,
.user-list-time {
	color: #81919E;
}

.first {
	background-color: #C7ECFC;
}

.chat {
	display: flex;
	width: 100vw;
	height: 100vh;
	flex-direction: column;
}

.chat-header {
	display: flex;
	flex: 0 0 auto;
	flex-direction: row;
	width: 100%;
}

.chat-header-info {
	display: flex;
	flex-direction: column;
}

.chat-header-info ul {
	display: flex;
	flex-direction: row;
	background-color: #FDFEFF;
	margin: 0 20px;
	align-items: center;
}

.chat-header-info ul li {
	width: 90px;
	margin: 0 10px;
	padding-left: 30px;
}

.chat-gallery,
.chat-find {
	display: flex;
	border-left: 1px solid #444444;
	align-items: center;
	margin: 10px;
}

.chat-name span {
	font-size: 25px;
	font-weight: bold;
}

.chat-name {
	margin: 20px 50px 10px 30px;
}

.chat-user-state {
	position: absolute;
	border: 2px solid #ffffff;
	background-color: #4AD96D;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	margin-top: 1px;
	margin-left: -15px;
}

.chat-header-action {
	display: flex;
	width: 100%;
}

.chat-header-action ul li {
	background-color: #F0EFF4;
	width: 40px;
	height: 40px;
	margin: 30px 5px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.chat-header-action ul {
	display: flex;
	margin-left: auto;
	margin-right: 10px;
}

.chat-header {
	height: 110px;
	border-bottom: 2px solid #869099;
}

.chat-field {
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
}

.main-msg {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

.main-msg-time {
	display: flex;
	margin-left: auto;
	margin-right: 10px;
	margin-top: 10px;
}

.main-msg-text {
	display: flex;
	margin-left: auto;
	margin-right: 10px;
	margin-top: 10px;
	background-color: #DCF4FE;
	padding: 10px;
	border-radius: 5px 0 5px 5px;
}

.another-msg {
	display: flex;
	flex-direction: row;
	margin-top: 20px;
}

.another-msg-user {
	display: flex;
	margin-left: 10px;
	margin-top: 5px;
}

.another-msg-info {
	display: flex;
	flex-direction: column;
	margin-left: 10px;
	margin-top: 5px;
}

.another-msg-text {
	display: flex;
	flex-direction: column;
	margin-left: 10px;
	margin-top: 5px;
	background-color: #F2F6F9;
	padding: 10px;
	border-radius: 0 5px 5px 5px;
}

.chat-footer {
	display: flex;
	flex: 0 0 auto;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 80px;
	margin-bottom: 10px ;
}

.chat-input input {
	width: 550px;
	height: 50px;
	border-radius: 0 20px 20px 0;
	background-color: #F1F0F5;
	border: #444444;
	outline: none;
}

.chat-emogi {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	border-radius: 20px 0 0 20px;
	background-color: #F1F0F5;
}

.chat-footer-icons ul {
	display: flex;
	flex-direction: row;
}

.chat-footer-icons ul li {
	display: flex;
	margin-left: 10px;
	background-color: #EDECF2;
	width: 40px;
	height: 40px;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	cursor: pointer;
} 

.chat-footer-icons ul :hover,
.chat-header-action ul :hover {
	background-color: #e0e4e4;
}
